*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: #f0ebf8;
}
.container{
    background-color: white;
    height: 550px;
    width: 500px;
    padding: 25px;
    margin: 50px auto ;
    border-top: 5px solid blue;
    box-shadow: 0px 0px 5px 5px grey;
}
.container h2{
    font-size: 24px;
    margin-top: 20px;
    line-height: 24px;
    padding: ;
    /* padding: 30px; */
    text-align: center;
}
.input-name{
    width: 90%;
    position:relative;
    margin: 20px auto;
}
.lock{
    padding: 8px 10px; 
}
.name{
    width: 45%;
    padding: 8px 0px 8px 40px ;
}
.input-name span{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding: 8px 0px 8px 40px ;
}
.input-name i{
    position:absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
}
.name,.text-name{
    border: 1px solid #cccccc;
    outline: none;
    transition: all 0s ease-in-out;
}
.name:focus,.text-name:focus{
    border: 1px solid blue;
}
.radio-button{
    margin-right: 4px;
}
.country{
    width: 100%;
    padding: 8px 4px;
    cursor: pointer;
    appearance: none;
}
.country:hover,.country:focus{
    border: 1px solid blue;
    outline: none;
}
.arrow{
    position: absolute;
    top: calc(40%);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width:8px 5px 0px 5px;
    border-style: solid;
    border-color: grey transparent green transparent;
}
.country:hover+.arrow, .country:focus+.arrow{
    border-color: blue transparent green transparent;
}
.check{
    margin-right: 15px;
    position: relative;
    font-size: 18px;
}
.check::before{
    content: ""; /* Empty content to prevent adding default text */
    display: inline-block; /* Make it act like an inline element */
    width: 5px;
    height: 5px; 
    margin-right: 8px;
    vertical-align: -2px;
    border: 2px solid grey;
    padding: 5px;
    background-color: transparent;
    background-clip: content-box;

}
.check::after{
    border-right: 2px solid black;
    border-top: 2px solid black;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    top: 7px;
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    width: 7px;
    display: none;
}
.check-button{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.check-button:hover +.check::before{
    border-color: blue;
}
.check-button:checked+.check::before{
    border-color: green;
}
.check-button:checked+.check::after{
    animation: check 0.8s ease 0s running;
    display: block;
    width: 7px;
    height: 20px;
    border-color: green;
    border-width: 3px;    
}
@-webkit-keyframes check{
    0%{height: 0; width: 0;}
    25%{height: 0; width: 7px;}
    50%{height: 20px ;width: 7px;}
}

.button{
    width: 100%;
    padding: 5px;
    background-color: blue;
    color: white;
    font-size: 15px;
    border: none;
    margin-bottom: 10px;
}
.button:hover{
    background-color: green;
    cursor: pointer;
}
@media (max-width:480px){
    .container{
        width: 100%;
        margin-top:0;
        margin-bottom:0;
    }
    .input-name{
        margin-bottom: -10px;
    }
    .name{ 
        width: 100%;
    }
    #first_name{
        margin-bottom: 10px;
    }
}